@font-face {
    font-family: 'hoodsly-hub';
    src: url('assets/fonts/hoodsly-hub.eot?77043959');
    src: url('assets/fonts/hoodsly-hub.eot?77043959#iefix') format('embedded-opentype'),
         url('assets/fonts/hoodsly-hub.woff2?77043959') format('woff2'),
         url('assets/fonts/hoodsly-hub.woff?77043959') format('woff'),
         url('assets/fonts/hoodsly-hub.ttf?77043959') format('truetype'),
         url('assets/fonts/hoodsly-hub.svg?77043959#hoodsly-hub') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [data-icon]:before {
      speak: none;
      line-height: 1;
      font-family: 'hoodsly-hub';
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="icon-"]:before, [class*=" icon-"]:before {
      speak: none;
      line-height: 1;
      font-family: 'hoodsly-hub';
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  
  .icon-zoom-in:before { content: '\e800'; } /* '' */
  .icon-search:before { content: '\e801'; } /* '' */
  .icon-file:before { content: '\e802'; } /* '' */
  .icon-help:before { content: '\e803'; } /* '' */
  .icon-home:before { content: '\e804'; } /* '' */
  .icon-line-chart:before { content: '\e805'; } /* '' */
  .icon-message:before { content: '\e806'; } /* '' */
  .icon-notifications:before { content: '\e807'; } /* '' */
  .icon-paste:before { content: '\e808'; } /* '' */
  .icon-setting:before { content: '\e809'; } /* '' */
  .icon-setting-sliders:before { content: '\e80a'; } /* '' */
  .icon-users:before { content: '\e80b'; } /* '' */
  .icon-angle-down:before { content: '\e80c'; } /* '' */
  .icon-angle-left:before { content: '\e80d'; } /* '' */
  .icon-angle-right:before { content: '\e80e'; } /* '' */
  .icon-angle-up:before { content: '\e80f'; } /* '' */
  .icon-calendar:before { content: '\e810'; } /* '' */
  .icon-caret-down:before { content: '\e811'; } /* '' */
  .icon-caret-up:before { content: '\e812'; } /* '' */
  .icon-close:before { content: '\e813'; } /* '' */
  .icon-email:before { content: '\e814'; } /* '' */
  .icon-email-open:before { content: '\e815'; } /* '' */